<% include ./partials/header %>


<div class="container text-center text-white">
    <div class="row">
        <div class="col-lg-12 text-center text-capitalize mt-5">
                <h2>Your Fun Activity</h2>
        </div>
        <div class="col-lg-12  mt-5">

                <div><h3>ACTIVITY: <em>"<%= act.activity %>"</em></h3></div>
                <div><h3>TYPE OF ACTIVITY: <em>"<%= act.type %>"</em></h3></div>
                <% if(act.participants > 1){ %>
                    <div><h3>NUMBER OF FRIENDS TO ENJOY THIS ACTIVITY WITH:  <em><%= act.participants %> Friends</em></h3></div>    

               <% } else if (act.participants === 1){ %>
                    <div><h3>NUMBER OF FRIENDS TO ENJOY THIS ACTIVITY WITH:  <em><%= act.participants %> Friend</em></h3></div>    
                   
                <% } %>
                
                <a class="btn btn-dark btn-sm mt-5" href="#" onClick="window.location.reload()">Search For Another Fun Activity</a>


        </div>
    </div>
    <a class="btn btn-dark btn-sm mt-5" href="/">Go Back</a>

</div>





<% include ./partials/footer %>
